aiohttp==2.0.7
aiohttp-swagger==1.0.5
appdirs==1.4.3
async-timeout==1.2.1
chardet==3.0.2
future==0.16.0
Jinja2==2.9.6
MarkupSafe==1.0
multidict==2.1.4
packaging==16.8
pkg-resources==0.0.0
pyparsing==2.2.0
PyYAML==3.12
s2sphere==0.2.4
six==1.10.0
ujson==1.35
yarl==0.10.2
