<html>
  <head>
    <title>Silph Grid - S2 everywhere</title>
    <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #565656;
    }

    .logo {
      margin: 0px auto;
      display: block;
      max-width: 100%;
    }
    </style>
  </head>
  <body>
    <div id="grid">
      <img src="https://assets.thesilphroad.com/silph-io/silph-grid.png" class="logo">
    </div>
    <div>
      <img src="https://assets.thesilphroad.com/silph-io/grid-text.png" class="logo">
    </div>
  </body>
</html>
